<div class="row">
  <div class="col-lg-2"></div>
  <input #triggerText placeholder="Zoek een incidenttype...">&nbsp;
  <div class="btn btn-secondary" (click)="sendKeyword(triggerText.value)">Search</div>
</div>

<div class="row text-center imgfeed">
  <div class="col-lg-3"><img src="../../../../assets/img/fire.png"></div>
  <div class="col-lg-3"><img src="../../../../assets/img/fire.png"></div>
  <div class="col-lg-3"><img src="../../../../assets/img/fire.png"></div>
</div>

<div class="row offset-1 messagefeed">
  <div class="col-lg-3 topicMessages">oeuth noeun thoeunt hoeu nteohu tnoehu eontu henuth,rcuoenut jwvkjvikou et</div>
  <div class="col-lg-3 topicMessages">oeuhtnuvwqjkk ,.prccroeuntoeu hqjvkweoue</div>
  <div class="col-lg-3 topicMessages">out,nuhr,euhtoeun qjwvk hqvjkeour </div>
</div>

<div class="row" *ngFor="let i of incomingMessages; last as isLast">
  <div class="col-lg-1 offset-1 mt-4">
    <div class="ball"></div>
    <div class="vline" *ngIf="!isLast"></div>
  </div>
  <div class="col-lg-10">
    <div class="title">
        <p class="timestamp">{{ i.timestamp }} </p>
        <h2>{{ i.title }}</h2>
        <p class="offset-1">{{ i.message }}</p>
        <br>
        <!-- {{ rawdateSplit }} <br> -->
        {{ fmdate | date: "dd-MMM-yyyy h:mm" }} <br>
    </div>    
  </div>
</div>