@import './../../../../variables.scss';

.ball {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: $app-red;
}
.vline {
    // border-right: 1px dashed black;
    width: 1px;
    height: 100%;
    margin-left: 1em;
    background-image: linear-gradient(black 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 1px 14px;
    background-repeat: repeat-y;
}
.timestamp {
    color: #999;
    margin-bottom: -0.2em;
}

