$app-black: #383838;
$app-gray: #AAAAAA;
$app-dark-blue: #086788;
$app-light-blue: #07A0C3;
$app-yellow: #F0C808;
$app-beige: #FFF1D0;
$app-red: #DD1C1A;

$app-font: 'Open Sans Regular';
$app-font-bold: 'Open Sans Bold';
